In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [9]:
city_data = "C:/Users/Holme/OneDrive/Desktop/Data_Analyst/resources/city_data.csv"
ride_data = "C:/Users/Holme/OneDrive/Desktop/Data_Analyst/resources/ride_data.csv"
city_df = pd.read_csv(city_data)
ride_df = pd.read_csv(ride_data)

In [23]:
city_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [26]:
sum(city_df["type"] == "Rural")

18

In [30]:
ride_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [33]:
# combine two dataframes into one 
pyber_data_df = pd.merge(ride_df, city_df, how="left", on=["city", "city"])

pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban